.bundle
db/*.sqlite3
db/help/index
log/*.log
tmp/**/*
.DS_Store
doc/api
doc/app
gunk
public/webstats
*.kpf
public/system/*
nbproject/*
config/database.yml
_build/*
index/*
vendor/ruby
.ruby-version
tmp/tags
.sass-cache/
public/assets/*
rails_best_practices_output.html
config/initializers/01_set_envs.rb
tmp
