%h1 Friends

%p Add up to #{Friend.max_friends_per_user} friends to protect them from the wrath of kick-a-pubby.

- unless current_user.friends.empty?
  %table
    %thead
      %tr
        %th Friend
        %th
    %tbody
      = render partial: "friend", collection: current_user.friends
= link_to "Add Friend", new_friend_path if current_user.friends.size < Friend.max_friends_per_user