%h1 Pubby Kicker

#player-list
  %p{:style => "text-align: center; width: 200px; "}
    = image_tag "ajax-loader.gif"
    %br/
    Loading Player List...

- content_for :scripts do
  :javascript
    $(function () {
      APP.features.playerList.load();
    });